META-INF/
node_modules/
package-lock.json
vendor/
dist/
.idea/
out/
target/
__using_assets__/
__new__/
lecture/

!.vscode/
.ipynb_checkpoints/
__pycache__/

# for venv
etc/
Include/
Lib/
Scripts/
share/

.env
*.o
*.gch
*.pdb
*.class
*.exe
*.zip
*.lnk
*.pdf
*.epub

_강의자료_/

test.*

.DS_Store
