<div class="container">
  <div class="row">
    <% @packs.each do |pack| %>
      <div class="col-4 mt-4">
        <div class="card" style="width: 18rem;">
          <% if pack.image.attached? %>
          <img src="<%= url_for(pack.image) %>" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= pack.product_name %></h5>
            <p class="card-text"><%= pack.desc %></p>
            <a href="/packs/show/<%= pack.id %>" class="btn btn-primary">자세히 보기</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
