AnnotationBean
AOPJava
AOPXML
AutoWire
BeanLifeCycle
BeanPostProcessor
CollectionDI
Component
ComponentAutowired
ComponentSetting
CosntructorDI
ExecutionDirective
InitDestroy
JavaBeanConfiguration
JavaDI
JSR250
MyBatis
SetterDI
SpringJDBC
